<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.socket.socketjava.mapper.ChatRoomsMapper">


    <select id="selectByCreatorId" resultType="com.socket.socketjava.domain.vo.Notifications.AcceptRoomsVo">
        SELECT DISTINCT cr.room_id,
                        cr.room_name,
                        cr.creator_id,
                        cr.avatar_url,
                        ucr.status,
                        n.content
        FROM chat_rooms cr
                 JOIN user_chat_rooms ucr ON cr.room_id = ucr.room_id
                 JOIN notifications n ON cr.room_id = n.related_id AND ucr.room_id = cr.room_id
        WHERE ucr.user_id = #{userId}
          AND n.receiver_id = #{userId};
    </select>
</mapper>
