<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.socket.socketjava.mapper.FriendsMapper">

    <select id="selectByReceiverId" resultType="com.socket.socketjava.domain.vo.Notifications.AcceptFriendVo"
            parameterType="java.lang.Integer">
        select f.relation_id,
               f.user_id,
               u.username,
               u.number,
               u.avatar_url,
               n.content,
               n.created_at,
               f.status
        from friends f
                 join users u on f.user_id = u.user_id
                 join notifications n on n.related_id = f.relation_id
        where f.friend_id = #{userId} and n.type = 'friend'
    </select>


    <select id="selectFriendsList" resultType="com.socket.socketjava.domain.vo.Friends.FriendVo">
        SELECT f.relation_id AS relationId,
               CASE
                   WHEN f.user_id = #{userId} THEN f.friend_id
                   ELSE f.user_id
                   END       AS friendId,
               f.status      AS relationStatus,
               u.username,
               u.number,
               u.avatar_url  AS avatarUrl,
               u.status      AS userStatus
        FROM friends f
                 JOIN users u ON
            (f.user_id = #{userId} AND u.user_id = f.friend_id)
                OR (f.friend_id = #{userId} AND u.user_id = f.user_id)
        WHERE (f.user_id = #{userId} OR f.friend_id = #{userId})
          AND f.status = 1
        ORDER BY friendId;
    </select>
    <select id="getMessageCount" resultType="java.lang.Integer">
        select COUNT(*)
        from messages
        where receiver_id = #{userId}
          and sender_id = #{friendId}
          and is_read = 0
    </select>
    <select id="getFriendByRelationId" resultType="java.lang.Integer"
            parameterType="java.lang.Integer">
        SELECT CASE
                   WHEN user_id = #{userId} THEN friend_id
                   WHEN friend_id = #{userId} THEN user_id
                   END AS result
        FROM friends
        WHERE relation_id = #{relationId};
    </select>


</mapper>
